<!-- <div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ message }}</p>
    <h2>This is my content....YEA BOI!</h2>
</div> -->

<nav>
	<a href="#/"><h1 class="text-center nav-logo">Find a Dry Cleaner</h1></a>
</nav>
<div class="jumbotron">
	<div id="jumbotron-content">
	    <h1 class="jumbotron-copy">Find dry cleaners that invest in quality training and customer service</h1>
	    <form class="form-inline flex-container">
	        <div>
	            <input ng-model="address" type="search" class="form-control search-box" id="search" placeholder="Where do you want to find a dry cleaner?">
	            <button ng-click="searchAddress()" class="btn btn-default search-box-button" type="submit">Search</button>
	        </div>
	    </form>
    </div>
</div> <!-- ends 'jumbotron' -->

<div id="dryclSelectExplanation">

    <section class>
    	<div class="row">
	    	<div class="col-xs-12 col-sm-6">
	    		<img class="description-icon img-responsive center-block" src="img/rankings.svg" alt="Rankings">
	    	</div>
	    	<div class="col-xs-12 col-sm-6">
		        <h3>How we rank the best dry cleaners</h3>
		        <p>
		            Butcher tattooed humblebrag narwhal mumblecore, crucifix vice ethical +1 salvia post-ironic fap. Man bun kickstarter you probably haven't heard of them waistcoat, iPhone pickled chartreuse. Cliche flannel hoodie fashion axe. Seitan distillery mustache selvage artisan. Aesthetic ramps next level single-origin coffee, kale chips artisan actually. Portland you probably haven't heard of them pour-over hammock fap. Before they sold out bespoke vice lumbersexual art party synth, 3 wolf moon post-ironic man braid.
		        </p>
	        </div>
        </div> <!-- ends row -->
    </section>

    <section>
    	<div class="row">
    		<div class="col-xs-12 col-sm-6 col-sm-push-6">
	    		<img class="description-icon img-responsive center-block" src="img/medal.svg" alt="Rankings">
	    	</div>
	    	<div class="col-xs-12 col-sm-6 col-sm-pull-6">
		        <h3>Good vs bad dry cleaners</h3>
		        <p>
		            Plaid four loko church-key, normcore beard tilde cardigan kitsch hashtag. Schlitz humblebrag cardigan, craft beer chambray 90's street art letterpress hoodie bespoke butcher DIY meggings health goth deep v. Kitsch dreamcatcher food truck, letterpress bitters chartreuse small batch seitan direct trade etsy freegan. Crucifix lo-fi synth, umami try-hard farm-to-table chicharrones paleo freegan. Cronut sriracha pour-over single-origin coffee, freegan squid beard microdosing pug tote bag austin thundercats stumptown. Distillery austin typewriter vegan, hammock cronut roof party marfa. Hoodie banjo wayfarers, yr +1 health goth small batch keffiyeh banh mi man bun pop-up taxidermy.
		        </p>
	        </div>
    	</div> <!-- ends row -->
    </section>
    <section>
    	<div class="row">
		    <div class="col-xs-12 col-sm-6">
		    	<img class="description-icon img-responsive center-block" src="img/clothing-hanger.svg" alt="Rankings">
	    	</div>
	    	<div class="col-xs-12 col-sm-6">
		        <h3>Are you a dry cleaner?</h3>
		        <p>
		            If you'd like to get access to cutting edge training and tools to improve your business you can <a href="http://www.dlionline.org/membership-information">join the Drycleaning &amp; Laundry Institute</a>.
		        </p>
	        </div>
        </div> <!-- ends row -->
    </section>

    <footer>
    	<p class="copyright text-center">Copyright &copy; Drycleaning &amp Laundry Institute. All Rights Reserved.</p> 
    </footer>

</div> <!-- ends 'container-fluid' div -->